<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Tweet below </h1>
    <% for(post of posts) {%>
        <div class="post">
            <h3 class="user">@  <%=post.username %> </h3>
             <h4 class="content"> <%=post.content%> </h4>
             <br>
             <a href="/posts/<%= post.id %>">see in detail</a>
              <a href="/posts/<%= post.id %>/edit">Edit</a>
        <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
        <button type="submit"> Delete post</button>
        </form> 
            </div>
   <% }%>
   <br>
    <form action="/newpage" method="get">
        <button type="submit"> create Tweet</button>
    </form> 
    
    
</body>
</html>